---
layout: default
title: Home
---
</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro">
<center>
<img src="/assets/images/john.jpg" style="border-radius: 50%" height="90px" width="240px" alt="A picture of author.">
<br><br>
<h1 style="color:white">Hi, I am <span>John Doe.</span></h1>
<br>
<h3> Web designer and Developer</h3>
<br>
<a href="/about/" class="btn" style="color:white">View More about me</a>
</center>
</section>

<!-- We reopen main-content and container -->
<div class="container">
<div class="main-content">
<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Blog!</span></h2>
    </div>
    <div class="row listfeaturedtag">
        {% for post in site.posts %}
            {% if post.featured == true %}
                {% include featuredbox.html %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
    {% if paginator.previous_page > 0 %}
        <div id="jumptopageof"></div>
    {% endif %}
{% endif %}
<section class="recent-posts row">
    <div class="col-sm-8">
        <div class="section-title">
            <h2><span>Blog Posts</span></h2>
        </div>
        <div class="masonrygrid row listrecent">
            {% for post in paginator.posts %}
                {% unless post.featured == true %}
                {% include postbox.html %}
            {% endunless %}
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
    </div>
</div>

<!-- Sidebar -->
<div class="col-sm-4">
    {% include sidebar.html %}
</div>
</section>
