<div id="embed">
  <center>Get our weekly tech info and updates.</center>
  <br>
  <form action="#" method="post" id="form" name="form"  target="_blank">
    <div class="form-group">
      <label for="member_email"><b>Email address</b></label>
      <input class="form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
    </div>
    <br>
    <div class="form-actions">
      <input type="submit" value="Subscribe" name="member[subscribe]" class="btn btn-primary btn-lg btn-block" id="member_submit">
    </div>
  </form>
</div>
