<div id="revue-embed">
  <center>Sign up to get our weekly tech info and updates. Powered by Revue!</center>
  <br>
  <form action="#" method="post" id="revue-form" name="revue-form"  target="_blank">
  <div class="revue-form-group">
    <label for="member_email"><b>Email address</b></label>
    <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
  </div>
  <br>
  <center>
  <div class="revue-form-actions">
    <input type="submit" value="Subscribe" name="member[subscribe]" class="btn btn-primary btn-lg btn-block" id="member_submit">
  </div>
</center>
  </form>
</div>

<style>
  .revue-form-field {
      width: 100%;
      padding: 8px;
      border: 3px solid black;
    }
</style>
