---
layout: default
---
<section>
    <div class="row">
        <div class="col-sm-8">
            <div class="section-title">
                <h2><span>{{ page.title }}</span></h2>
            </div>

            <div class="article-post">
                {{content}}
            </div>

            {% if page.comments == true %}
                <div id="comments" class="row mb-5">
                    <div class="col-md-8">
                        {% include disqus.html %}
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>

    </div>
</section>
